body {
    font-family: 'Inter Tight', sans-serif;
    text-align: center;
  }
h5{
  text-align: left;
  color: #1e1e1e;
}

.card-body{
  background-color: #9db4c0;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;;
    font-size: 2.5rem;
    margin-right: 0;
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }
  .nav-link {
    font-size: 1.5rem;
    font-family: 'Inter Tight', sans-serif;
  }

  .nav-item {
    padding: 0 18px;
  }

  .firstpage{
    margin:1% 5%;
  }

  .bg-black
  {
    background-color: #1e1e1e;
  }

  .white-bg
  {
    color:#1e1e1e;
    background-color: #fff;
  }

  .grey-bg
  {
    color:#fff;
    background-color:#2c2c2c;
  }

  #title {
    background-color: #1e1e1e;
    color: #fff;
    text-align: left;
  }

  .title-image {
    width: 70%;
  }

  .download-button {
    margin: 5% 3% 5% 0;
  }

  .container {
    padding: 5% 25%;
  }
  
  
  .about-text {
    padding: 7% 20%;
  }

  .aboutme {
    padding: 7% 15%;
  }

  .aboutmefoot {
    padding: 3% 15%;
  }
  
  .last{
    margin: 1% auto 0;
    padding-bottom: 2%;
  }

  .social-icon {
    margin: 20px 10px;
  }

  .big-heading {
    font-family: 'Inter Tight', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
  }


  .small-heading {
    font-family: 'Inter Tight', sans-serif;
    font-size: 2.0rem;
    line-height: 1.5;
  }

  .projectss{
    padding-top: 7%;
    padding-bottom: 7%;
  }
  .about-me-text {
    padding: 7% 25%;
    font-family: 'Montserrat', sans-serif;
  }

  .card-title{
    font-size: 1.9rem;
    font-family: 'Inter Tight', sans-serif;
  }

  .card-text {
    font-size: 1.25rem;
    font-family: 'Inter Tight', sans-serif;
    text-align: left;
    color:#3a3a3a;
  }

  .footing {
    padding: 1% 7%;
  }

  .invis{
    color: white;
  }
  
  #footer{
    color:#fff;
    background-color:#2c2c2c;
  }
  @media (max-width: 1028px) {

    #title {
      text-align: center;
    }
  
    .big-heading {
      text-align: center;
      font-size: 2rem;
    }

    .about-me-text {
      padding: 7% 0%;
      font-family: 'Montserrat', sans-serif;
    }
    .small-heading {
      font-size: 1.5rem;
    }

    .contact-button{
      margin: 10%;
    }
      .container{
      padding: 0;
    }
  }
